.dessus{
    background: black;
    position: fixed;
    width: 100%;
    margin-left: -8px;
    font-size: 30px;
}

.remonte{
    float: right;
    position: fixed;
    margin-left: 95%;
    margin-top: 42%;
    z-index: 5;
}

.sommaireLasagne{
    margin-left: -8px;
    margin-top: 0;
    height: 400px;
    width: 101%;
    background-image: url("lasagne.png");
    transition: 1s;
}

.sommaireLasagne:hover{
    background-image: url("lasagneHover.png");
}

.sommaireVav{
    margin-left: -8px;
    margin-top: 0;
    height: 400px;
    width: 101%;
    background-image: url("vav.png");
    background-position-x: right;
    transition: 1s;
}

.sommaireVav:hover{
    background-image: url("vavHover.png");
}

.sommaireHachis{
    margin-left: -8px;
    margin-top: 0;
    height: 400px;
    width: 101%;
    background-image: url("hachis.png");
    background-position-x: right;
    transition: 1s;
}

.sommaireHachis:hover{
    background-image: url("hachisHover.png");
}

.sommaireCrepe{
    margin-left: -8px;
    margin-top: 0;
    height: 400px;
    width: 101%;
    background-image: url("crepe.png");
    background-position-x: right;
    transition: 1s;
}

.sommaireCrepe:hover{
    background-image: url("crepeHover.png");
}

.sommaireSoupe{
    margin-left: -8px;
    margin-top: 0;
    height: 400px;
    width: 101%;
    background-image: url("soupe.png");
    background-position-x: right;
    transition: 1s;
}

.sommaireSoupe:hover{
    background-image: url("soupeHover.png");
}

.moinspx{
    margin-top: -152px;
}

.moins34px{
    margin-top: -34px;
}

.d25{
    padding-left: 15%;

}

.d50{
    padding-left: 43%;
}

.d75{
    padding-left: 55%;
}

h1{
    color: white;
    text-decoration: white underline;
    text-align: center;
    font-size: 50px;
}

.titre{
    color: black;
    text-decoration: black underline;
    text-align: center;
    font-size: 90px;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 25%;
}

h2{
    color: white;
    text-decoration: white underline;
    font-size: 30px;
}

q{
    font-style: italic;
    font-size: 21px;
}

a{
    text-decoration: none;
    color: white;
}

.img{
    width: 200px;
    border: 5px solid mediumblue;
    border-radius: 25px;
}

.intro{
    background-image: url("https://salm-prod-proxy.azureedge.net/fr-be/-/media/adam/cuisinella/mes-realisations/france/fagnieres-0006167/real_fagnieres_pereira_cuisine_01-16-9.jpg?as=0&mw=1920&r=9c1266b41e4c4b19aa55f8e9a4422c3b&hash=E38D45C5DF82D6E22CCB6B988250B3DD2F3C96E4");
    background-size: cover;
    margin-top: -60px;
    margin-right: -6px;
    margin-left: -6px;
    height: 1000px;
    background-position: center;
    background-attachment: fixed;
}

.image{
    float: right;
}

.listeFleche{
    list-style-type: '==>';
    font-weight: bold;
}

.listeEtoile{
    list-style-type: '*  ';
}

body{
    background-color: #151C23;
}

.petitNom{
    text-decoration: white underline dotted;
    font-style: italic;
    color: white;
    font-size: 28px;
}

.centrer{
    text-align: center
}

.entouré{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
}

.encadré{
    border: 1px solid mediumblue;
}

.magie{
    background: royalblue;
    color: white;
    border-radius: 15px;
    width: 150px;
    font-size: 0;
    transition: 0.5s;
}

.magie:hover{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    width: 100%;

}

.entouréPetit{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

.trucCool{
    width: 464px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 650px;
    margin-left: 50%;
    margin-top: 5%;
}

.recette{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 25px;
}

.cavapa{
    float: left;
    margin-top: 5%;
    margin-left: 15%;
    width: 464px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 650px;
}

.lasagnex2{
    float: left;
    margin-top: 5%;
    margin-left: 15%;
    width: 464px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 1060px;
}

.lasagne{
    width: 464px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 1060px;
    margin-left: 50%;
    margin-top: 5%;
}

.italiqueSouligné{
    font-style: italic;
    text-decoration: black underline dotted;
}

.formulaire{
    margin-left: 35%;
    margin-top: 10%;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    margin-right: 30%;
}

.décalé{
    margin-left: 5%;
}

.grand{
    margin-left: 30%;
    color: royalblue;
    font-size: 50px;
}

input, textarea{
    border-radius: 30px;
}

.textIntro{
    font-size: 23px;
    color: white;
    background: rgb(0, 0, 0, 0.5);
}