h1{
    background: royalblue;
    color: white;
    border-radius: 15px;
    text-decoration: white underline;
    text-align: center;
    font-size: 50px;
    margin-right: 35%;
    margin-left: 35%;
    transition: 0.5s;
}

h1:hover{
    margin-top: 25px;
    margin-left: 36%;
    margin-right: 35%;
    animation-duration: 1s;
}

h2{
    color: white;
    text-decoration: white underline;
    font-size: 30px;
}

q{
    font-style: italic;
    font-size: 21px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

img{
    width: 200px;
    border: 5px solid mediumblue;
    border-radius: 25px;
}

.image{
    float: right;
}

.listeFleche{
    list-style-type: '==>';
    font-weight: bold;
}

.listeEtoile{
    list-style-type: '*  ';
}

body{
    background-color: #151C23;
}

.petitNom{
    text-align: center;
    text-decoration: cadetblue underline dotted;
    font-style: italic;
    background: royalblue;
    color: white;
}

.centrer{
    text-align: center
}

.entouré{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
}

.encadré{
    border: 1px solid mediumblue;
}

.magie{
    background: royalblue;
    color: white;
    border-radius: 15px;
    width: 150px;
    font-size: 0px;
    transition: 1s;
}

.magie:hover{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    width: 100%;

}

.entouréPetit{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

.trucCool{
    width: 464.09px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 650px;
    margin-left: 50%;
    margin-top: 5%;
}

.recette{
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 25px;
}

.cavapa{
    float: left;
    margin-top: 5%;
    margin-left: 15%;
    width: 464.09px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 650px;
}

.lasagnex2{
    float: left;
    margin-top: 5%;
    margin-left: 15%;
    width: 464.09px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 1060px;
}

.lasagne{
    width: 464.09px;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 35px;
    height: 1060px;
    margin-left: 50%;
    margin-top: 5%;
}

.italiqueSouligné{
    font-style: italic;
    text-decoration: black underline dotted;
}

.formulaire{
    margin-left: 35%;
    margin-top: 10%;
    background: royalblue;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    margin-right: 30%;
}

.décalé{
    margin-left: 5%;
}

.grand{
    margin-left: 30%;
    color: royalblue;
    font-size: 50px;
}

input, textarea{
    border-radius: 30px;
}